.container
{
  position:relative;
  inset: 10vh auto auto 33vw;
  height:600px;
  width:280px;
 
  flex:display;
  flex-direction:column;
  
}
.card
{
  height:50%;
}
.content
{
  background-color: rgb(37, 204, 204);
 
}
.image{
  border-radius: 50% 50% 0 0;
  background-color: rgb(37, 204, 204);
}
.image img
{
  border-radius: 50% 50% 0 0;
}

